:root[color-mode="light"] {
  --surface1: #ffffff;
  --surface2: #f2f2f2;
  --surface3: #ffffff;
  --element1: #111111;
  --element2: #222222;
  --element3: #333333;
  --elementInverse: #eee;
  --icon: rgb(119, 117, 117);
  --primary: #1d74df;
  --secondary: #3c5d5c;
  --tertiary: #fff7d6;
}

/* Dark Mode */
:root[color-mode="dark"] {
  --surface1: #262626;
  --surface2: #333333;
  --surface3: #404040;
  --element1: #eeeeee;
  --element2: #dddddd;
  --element3: #cccccc;
  --elementInverse: #111;
  --icon: #dddddd;
  --primary: #8fceff;
  --secondary: #72faca;
  --tertiary: #eee8a9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--surface1);
}

.header {
  background-image: url("/images/background.jpeg");
  background-position: center;
  background-size: contain;
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search__box {
  display: flex;
  gap: 1rem;
  width: auto;
  height: max-content;
  margin-top: 8rem;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--surface3);
  border-radius: 5px;
  position: relative;
  width: calc(min(40rem, 80%));
  box-shadow: 0px 1.5px 0px 0.5px rgba(0, 0, 0, 0.25);
}

.btn svg {
  height: 1.5rem;
  width: 1.5rem;
}

.category__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.5rem;
  border-radius: 100%;
  border: none;
  background-color: var(--surface3);
}

.category__btn:hover {
  cursor: pointer;
  background-color: var(--surface2);
}

/* https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element#:~:text=You%20can't%20change%20the,or%20using%20inline. */
.category__btn svg {
  color: var(--icon);
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 90%;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/caret-color */
.search input {
  border: none;
  width: 100%;
  padding: 0.7rem;
  border-left: 1px solid var(--elementInverse);
  border-right: 1px solid var(--elementInverse);
  caret-color: var(--element1);
  color: var(--element1);
}

/* https://stackoverflow.com/questions/3397113/how-to-remove-focus-border-outline-around-text-input-boxes-chrome */
.search input:focus {
  outline: none;
}

/* https://stackoverflow.com/questions/12821746/clear-html5-placeholder-attribute-text-on-focus-in-chrome */
.search input:focus::-webkit-input-placeholder {
  color: transparent !important;
}
.search input:focus::-moz-placeholder {
  color: transparent !important;
}
.search input:focus:-moz-placeholder {
  color: transparent !important;
}

/* https://stackoverflow.com/questions/5617703/background-color-in-input-and-text-fields */
.search__field {
  background-color: var(--surface1);
}

.search__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 2.5rem;
  border-radius: 100%;
  padding: 0.7rem 0.7rem;

  background-color: var(--surface3);
  color: var(--icon);
}

.search__btn span {
  display: none;
}

.search__btn svg {
  height: 1.2rem;
  width: 1.2rem;
}

.search__btn:hover {
  cursor: pointer;
  background-color: var(--surface2);
}

.search__btn:active {
  transform: scale(0.96);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.35);
}

.search__filter {
  /* display: none; */
  position: absolute;
  top: 3rem;
}

.search__filter.open {
  display: block;
}

.selections {
  background-color: var(--surface3);
  /* background-color: rgb(189, 189, 189); */
  list-style: none;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
  color: var(--element2);
}

.selection span {
  display: inline-block;
  width: 95%;
  padding: 1rem 0;
}

/* https://www.geeksforgeeks.org/css-notlast-childafter-selector/ */
.selections li:not(:last-child) span {
  border-bottom: 1px solid var(--elementInverse);
}

.selection {
  width: 100%;
  padding: 0rem 1rem;
}

.selection:hover {
  cursor: pointer;
  background-color: var(--surface2);
}
